*{
	box-sizing: border-box;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

img{
	max-width:100%;
}


.outLineBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 25%;
	border: 3px solid #47a3da;
}

.turnBox{
	align-self: flex-end;
	border: 3px solid #47a3da;
	padding: 0px;
	margin: -3px;
}


#imgBox{
	align-self: center;
	padding: 10px;

}

#buttonBox{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

#buttonBox div{
	margin: -3px;
	margin-right: 0px;
	width:100%;
	border: 3px solid #47a3da;
	display: flex;
	justify-content: center;
	padding: 2%;
}


.changeBG div:hover{
	background: #47a3da;
}

.changeBG div:hover .material-icons{
	color: rgba(255, 255, 255, 1);
}



#buttonBox div:last-child{
	margin-right: -3px;
}

.material-icons{
	color: rgba(71, 163, 218, 1);
}


.infoBox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 25%;
	padding: 10px 0px 10px 0px;
	font-size: 100%;
	color: #47a3da;
}
