*{
	box-sizing: border-box;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

img{
	max-width:100%;
}


#outLineBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 33%;
	border: 3px solid #47a3da;
}

.turnBox{
	align-self: flex-end;
	border: 3px solid #47a3da;
	margin: -3px;
}


#imgBox{
	align-self: center;
	padding: 10px;

}

#buttonBox{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

#buttonBox #refreshButton, #buttonBox #heartButton, #buttonBox #sizeButton, #buttonBox .colorButton{
	margin: -3px;
	margin-right: 0px;
	width:100%;
	border: 3px solid #47a3da;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.changeBG div:hover{
	background: #47a3da;
	cursor: pointer;
}

.changeBG div:hover .material-icons{
	color: rgba(255, 255, 255, 1);
}

.colorButton #colorSquare{
	width: 24px;
	height: 24px;
	margin: 0px;
	margin-left: -3px;
	padding: 3px;
	background: #47a3da;
}

.changeBG div:nth-child(4):hover #colorSquare{
	outline: 3px solid white;
}

#buttonBox #cartButton{
	margin: -3px;
	margin-right: -3px;
	width:100%;
	border: 3px solid #47a3da;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.material-icons{
	color: rgba(71, 163, 218, 1);
}

#sizeButton{
	position: relative;
	display:inline-block;
/*	background: white;
*/}

.sizeDropDown{
	display: flex;
	flex-direction: column;
	align-content: center;
	position: absolute;
	width: 100%;
	z-index: 1;
	bottom:100%;
/*	background: white;
*/}

#sizeButton .sizeDropDown{
	visibility: hidden;
	opacity: 0;
/*	background: white;
*/}
#sizeButton:hover .sizeDropDown .material-icons{
	color: rgba(71, 163, 218, 1);
}

 #sizeButton:hover .sizeDropDown{
	visibility: visible; 
	opacity: 1;
	width: 100%;
	transition: opacity .5s ease-in-out;
	background: white;
	border: 3px solid #47a3da;
	padding: 10px;
}



.infoBox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 25%;
	padding: 10px 0px 10px 0px;
	font-size: 100%;
	color: #47a3da;
}
