*{
	box-sizing: border-box;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

img{
	max-width:100%;
}

h1{
	text-align:center;
	color:#47a3da ;
}
#mainContainer{
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.shirtBox{
	max-width: 33%;
	padding: 10px;
}
#outLineBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 3px solid #47a3da;
}

.turnBox{
	align-self: flex-end;
	padding: 3px;
	border: 3px solid #47a3da;
	margin: -3px;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    background: #47a3da;
}

label:hover{
	background-color: #47a3da;
}

label:hover .material-icons{
	color: rgba(255, 255, 255, 1);
}

label {
    float: left;
    margin: -3px;
    padding:0px;
}

input[type="checkbox"]:checked + label .material-icons{
	color: rgba(255, 255, 255, 1);
}

input[type="checkbox"]:checked{

}


#imgBox{
	align-self: center;
	padding: 10px;
}

#buttonBox{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.buttonOutLine{
	margin: -3px;
	margin-right: 0px;
	width:100%;
	border: 3px solid #47a3da;
	display: flex;
	justify-content: center;
	padding: 10px;
}

#buttonBox #cartButton{
	margin: -3px;
}

.changeBG:hover{
	background: #47a3da;
	cursor: pointer;
}

.changeBG:hover .material-icons{
	color: rgba(255, 255, 255, 1);
}

.material-icons{
	color: rgba(71, 163, 218, 1);
}

#sizeButton{
	position: relative;
}

.sizeDropDown{
	position: absolute;
	width: 100%;
	z-index: 1;
	transform: translate(0,-50px);
	visibility: hidden;
	opacity: 0;
}

#iconContainer .material-icons{
	color: rgba(71, 163, 218, 1);
}

#sizeButton:hover .sizeDropDown{
	visibility: visible; 
	text-align: center;
	margin:0;
	opacity: 1;
	width: 100%;
	bottom: 45px;
	padding: 10px 0px 10px 0px;
	transform: translate(0,0);
	transition: all .3s ease-in-out;
	background: white;
	border: 3px solid #47a3da;
}

#sizeButton:hover .sizeDropDown:last-child{
	padding-bottom: 0px;
}

.sizeDropDown #iconContainer:hover .material-icons{
	font-size: 30px;
}

.colorSquare{
	width: 24px;
	height: 24px;
	margin: 10px;
	background: #47a3da;
}

.colorIcon{
	margin:0;
}

.blue{
	background: #47a3da;

}
.pink{
	background: #e577aa;
}

.orange{
	background: #e5b178;
}

.green{
	background: #7abe93;
}


#colorButton:hover .colorIcon{
	outline: 3px solid white;
}

#colorButton{
	position:relative;
}

.colorDropDown{
	position: absolute;
	z-index: 1;
	transform: translate(0,-50px);
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
}

.row{
	display:flex;
	flex-direction: row;
}

.colorDropDown .colorSquare:hover{
	transform: scale(1.5,1.5);
}

#colorButton:hover .colorDropDown{
	visibility: visible; 
	text-align: center;
	margin:0;
	width: auto;
	opacity: 1;
	padding: 10px;
	bottom: 45px;
	transform: translate(0,0);
	transition: all .3s ease-in-out;
	background: white;
	border: 3px solid #47a3da;
}

.infoBox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 0px 0px 10px 0px;
	color: #47a3da;
	font-size: 30px; 
}

#priceBox{
	font-weight:bold;
}


@media(max-width:1050px){
	.shirtBox{
		max-width: 50%;
		padding: 10px;
	}
}

@media(max-width:740px){
	.shirtBox{
		max-width: 100%;
		padding: 10px;
	}
}














